*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    /* Cores */
    --primary: #6366f1;
    --primary-dark: #4f46e5;
    -secondary: #10b981;
    --danger: #ef4444;
    --warning: #f59e0b;
    --dark: #1e293b;
    --gray-50: #f8fafc;
    --gray-100: #f1f5f9;
    --gray-200: #e2e8f0;
    --gray-300: #cbd5e1;
    --gray-700: #334155;
    --gray-800: #1e293b;
    --gray-900: #0f172a;


    /* espaçamentos */
    --sidebar-width:260px;
    --sideabr-collapsed:72px;
    --header-height:70px;

    /* sombras */
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1);

}
